@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.laodspinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0);
  animation: bigger 2s ease-in-out backwards;
}
.laodspinner .circle-spinner {
  display: flex;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  padding: 2rem;
  color: #8F8F8F;
  background: #fff;
  background-clip: padding-box;
  border-radius: 50%;
}
.laodspinner .circle-spinner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -20px;
  border-radius: inherit;
  background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
  animation: spin 0.25s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bigger {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}
.laodspinner p {
  position: relative;
  left: 32px;
  top: -300px;
}
.laodspinner p img {
  z-index: 2;
  width: 300px;
  padding: 110px 30px 110px 30px;
}

.section1 {
  background: #f6f6f6;
  text-align: center;
  padding-bottom: 4rem;
}
.section1 h2 {
  padding: 2rem 4.5rem 0 4.5rem;
  font-weight: bold;
}
.section1 p {
  font-size: 1.2rem;
  color: #646464;
}
.section1 button {
  height: 3.5rem;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #a3a1a1;
  border: none;
  color: white;
  background: linear-gradient(354deg, #9356dc 0%, #ff79da 100%);
  font-size: 1.2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.section2 {
  padding-bottom: 3rem;
  /* on initialise et nomme un compteur */
}
.section2 h2 {
  font-size: 28px;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.section2 ol {
  counter-reset: repas;
  padding-right: 2.5rem;
}
.section2 li {
  list-style-type: none;
  counter-increment: repas;
  /* on incrémente le compteur à chaque nouveau li */
  margin-bottom: 10px;
  border-radius: 30px;
  background: #f6f6f6;
  box-shadow: 4px 4px 10px #d8d7d7;
  margin-bottom: 1.5rem;
  margin-right: -1rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  align-items: center;
  font-size: large;
}
.section2 li .fas {
  width: 2.5rem;
  color: grey;
}
.section2 li:before {
  content: counter(repas);
  /* on affiche le compteur */
  padding: 5px 10px 5px;
  margin-left: -15px;
  margin-right: 20px;
  vertical-align: top;
  background: #9356DC;
  -moz-border-radius: 60px;
  border-radius: 60px;
  font-weight: bold;
  font-size: 1em !important;
  color: white;
}
.section2 a {
  text-decoration: none;
  color: black;
}
.section2 a :hover {
  background: #f5edff;
}
.section2 a :hover .fas {
  color: #9356DC;
}

.section3 {
  padding-top: 3rem;
  background: #f6f6f6;
  padding-bottom: 4rem;
}
.section3 h2 {
  font-size: 28px;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.section3 a {
  text-decoration: none;
  color: black;
}
.section3 .new {
  background-color: #99E2D0;
  color: #028968;
  width: 4.5rem;
  padding: 8px 4px 8px 12px;
  font-size: medium;
  border-radius: 3px;
  position: relative;
  top: -330px;
  left: 250px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 12rem;
}

.fa-arrow-left {
  font-size: x-large;
  position: relative;
  left: -80px;
  top: -5px;
  color: black;
}

.bg-img-menu1 {
  background-image: url(../../maquettes_ohmyfood/images/restaurants/lapalettedugout.jpg);
  height: 300px;
  background-size: cover;
}

.bg-img-menu2 {
  background-image: url(../../maquettes_ohmyfood/images/restaurants/lanoteenchantée.jpg);
  height: 300px;
  background-size: cover;
}

.bg-img-menu3 {
  background-image: url(../../maquettes_ohmyfood/images/restaurants/alafrancaise.jpg);
  height: 300px;
  background-size: cover;
}

.bg-img-menu4 {
  background-image: url(../../maquettes_ohmyfood/images/restaurants/ledélicedesens.jpg);
  height: 300px;
  background-size: cover;
}

.formulaire {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  box-shadow: 0px 10px 10px -10px #666 inset;
}
.formulaire .form-header input {
  height: 3.5rem;
  background: #eaeaea;
  border: unset;
  text-align: center;
  font-size: large;
  box-shadow: 0px 10px 10px -10px #666 inset;
}

footer {
  background: #353535;
  color: white;
  padding-bottom: 1rem;
  margin-top: -1rem;
}
footer h2 {
  padding-left: 2.5rem;
  padding-top: 2rem;
  font-family: Shrikhand;
  font-size: 20px;
}
footer ul {
  list-style-type: none;
  line-height: 1.7rem;
  font-size: 18px;
}
footer .fas {
  width: 20px;
}
footer .fa-hands-helping {
  font-size: 13px;
}

.section-menu {
  background: #f6f6f6;
  padding: 2rem 1rem 2rem 1rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -3rem;
}
.section-menu h2 {
  font-family: Shrikhand;
  font-weight: 600;
  font-size: xx-large;
}
.section-menu .dish-animation {
  position: relative;
  overflow: hidden;
  /*Important pour faire disparaitre l'animation entrente*/
}
.section-menu .dish-animation .dish {
  background: white;
  border-radius: 20px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin-bottom: -60px;
}
.section-menu .dish-animation .dish h4 {
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 0;
}
.section-menu .dish-animation .dish .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-menu .dish-animation .dish .price p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-menu .dish-animation .dish .price strong {
  font-weight: bold;
  margin-right: 10px;
}
.section-menu .dish-animation .dish:hover + .price strong {
  transform: translateX(-100%);
}
.section-menu .dish-animation .dish:hover + .dish-animation-move {
  transform: translateX(-100%);
}
.section-menu .dish-animation .dish:hover > .fa-check-circle {
  transform: rotate(-360deg);
  transition: transform 100ms ease-in-out;
}
.section-menu .dish-animation .dish-animation-move {
  position: relative;
  top: -17px;
  left: 394px;
  background: #99E2D0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 20%;
  height: 77px;
  transform-origin: 100% 50%;
  transition: transform 100ms ease-in-out;
}
.section-menu .dish-animation .dish-animation-move .fa-check-circle {
  font-size: 25px;
  color: white;
  position: absolute;
  top: 25px;
  left: 25px;
  right: 0;
  bottom: 0;
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;
}
.section-menu .dish-animation .dish-animation-move .price strong {
  transition: transform 100ms ease-in-out;
}
@keyframes move {}
.section-menu button {
  height: 3.5rem;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #a3a1a1;
  border: none;
  color: white;
  background: linear-gradient(354deg, #9356dc 0%, #ff79da 100%);
  font-size: 1.2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.section-menu .commander {
  text-align: center;
}

.restaurant_card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px 4px #dad9d9;
  padding-bottom: 0.5rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
  height: 18rem;
}
.restaurant_card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant_card h3 {
  margin-left: 1.5rem;
  font-size: large;
  line-height: 15px;
  font-weight: bold;
}
.restaurant_card p {
  margin-left: 1.5rem;
  font-size: large;
  line-height: 15px;
}
.restaurant_card .far {
  position: relative;
  top: -91px;
  right: -305px;
  font-size: 24px;
  margin-top: 1rem;
  z-index: 0;
}
.restaurant_card .fas.fa-heart {
  opacity: 0;
  z-index: 1;
  position: relative;
  top: -90px;
  right: -330px;
  font-size: 26px;
  margin-top: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant_card .fas.fa-heart:hover {
  transform-origin: center center;
  transition-duration: 3000ms;
  opacity: 1;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}

/*# sourceMappingURL=ohmyfood_stylesheet.css.map */
