html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.loadspinner{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scale(0);
    animation: decrease 2s ease-in-out backwards;

    

    .circle-spinner {
        display: flex;
        align-items: center;
        width: 300px;
        height:300px;
        margin: auto;
        margin-top: 50px;
        z-index: 2;
        position: relative;
        top: 100px;
        bottom: 0;
        right: 0;
        left: 0;
        color: #8F8F8F;
        background: #fff;
        background-clip: padding-box;
        border-radius: 50%;
        transform: scale(0);
        animation: bigger 2s ease-in-out backwards;
        .text-laodspinner{
            font-size: 50px;
            font-family: Shrikhand;
            color: black;
            padding-left: 10px;
            position: relative;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    .circle-spinner:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        margin: -20px;
        border-radius: inherit;
        background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
        animation: spin 0.5s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);}
        to {
            transform: rotate(360deg);}
    }

    @keyframes bigger {
        0% {
            transform: scale(0)}
        60%{
            transform: scale(1)}
        80%{
            transform: scale(1);
            opacity: 1;}
        100%{
            transform: scale(10);
            opacity: 0;}
    }

    @keyframes decrease{
        0% {
            transform: scale(1)}
        80%{
            transform: scale(1);
            opacity: 1;}
        100%{
            transform: scale(10);
            opacity: 0;}
    }

    p{
        position: relative;
        left: 32px;
        top: -300px;
        
        img{        
            z-index: 2;
            width: 300px;
            padding:110px 30px 110px 30px;
        }
    }
}

.section1{
    background: $bg-color;
    text-align: center;
    padding-bottom: 4rem;

    h2{
        padding: 2rem 4.5rem 0 4.5rem;
        font-weight: bold;
    }

    p{
        font-size: 1.2rem;
        color:#646464;
    }

    button{
        @include button;
    }

    button:hover{
        background: linear-gradient(354deg, rgb(154, 114, 202) 0%, rgb(248, 150, 220) 100%);
        box-shadow: 4px 4px 10px #777676;
    }
}

.section2{
    padding-bottom: 3rem;

    h2{
        @include title;
    }

    ol {
        counter-reset: repas;
        padding-right: 2.5rem;
        :hover{
            background: #f5edff;
            .fas{
                color: $color-primary;
            }
        }
    } /* on initialise et nomme un compteur */
    li {
        list-style-type: none;
        counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
        margin-bottom: 10px;
        border-radius: 30px;
        background: $bg-color;
        box-shadow: 4px 4px 10px #d8d7d7;
        margin-bottom: 1.5rem;
        margin-right: -1rem;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        align-items: center;
        font-size: large;

        

        .fas{
            width: 2.5rem;
            color: grey;
        }
    }
    li:before {
        content: counter(repas); /* on affiche le compteur */
        padding: 5px 10px 5px;
        margin-left: -15px;
        margin-right: 20px;
        vertical-align: top;
        background: $color-primary;
        border-radius: 60px;
        border-radius: 60px;
        font-weight: bold;
        font-size: 1em !important;
        color: white;		
    }
    
    a{
        text-decoration: none;
        color:black;

        
    }
}

.section3{
    padding-top: 3rem;
    background: $bg-color;
    padding-bottom: 4rem;

    h2{
        @include title;
    }
    a{
        text-decoration: none;
        color: black; 
        
    }

    .new{
        @include new;
    }
}

@media all and (min-width:600px) and (max-width:1023px){

    .section1{
        h2{
            font-size: xx-large;
        }
        p{
            font-size: x-large;
        }
    }

    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    ol{
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    li{
        width: 500px;
        font-size: x-large !important;
    }

    li i{
        margin-right: 30px;
    }

    .restaurant_card{
        h3{
            font-size: xx-large;
        }
    }

    .new{
        position: relative;
        top: -330px;
        left: 10px !important;
    }

    .restaurant_card a h3{
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-left: 35px;
    }
    .restaurant_card a p{
        font-size: 20px;
        margin-top: 10px;
        margin-left: 35px;
    }

}

@media all and (min-width:1024px){
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 40px;
        }
        
    }

    ol{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 !important;
        
    }

    li{
        font-size: 25px !important;
        padding-right: 20px;
    }

    li i{
        margin-right: 10px;
    }

    .section3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            display: flex;
            justify-content: center;
            font-size: 45px;
        }
        .menu{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .restaurant_card{
                width: 600px;
                margin-top: 50px;
                a h3{
                    font-size: 30px;
                    margin-top: 15px;
                    margin-bottom: 25px;
                    margin-left: 35px;
                }
                a p{
                    font-size: 25px;
                    margin-top: 10px;
                    margin-left: 35px;
                }
            }
            .new{
                font-size: 25px;
                width: 105px;
                position: relative;
                top: -360px;
                left: 5px !important;
            }
        }
        
    }
    
}







