html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.section1{
    background: #f6f6f6;
    text-align: center;
    padding-bottom: 4rem;

    h2{
        padding: 2rem 4.5rem 0 4.5rem;
        font-weight: bold;
    }

    p{
        font-size: 1.2rem;
        color:#646464;
    }

    button{
        @include button;
    }
}

.section2{

    h2{
        @include title;
    }

    ol {
        counter-reset: repas;
        padding-right: 2.5rem;
    } /* on initialise et nomme un compteur */
    li {
        list-style-type: none;
        counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
        margin-bottom: 10px;
        border-radius: 30px;
        background: #f6f6f6;
        box-shadow: 4px 4px 10px #d8d7d7;
        margin-bottom: 1.5rem;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        align-items: center;
        font-size: large;

        .fas{
            width: 2.5rem;
            color: grey;
        }
    }
    li:before {
        content: counter(repas); /* on affiche le compteur */
        padding: 5px 10px 5px;
        margin-left: -15px;
        margin-right: 20px;
        vertical-align: top;
        background: $color-primary;
        -moz-border-radius: 60px;
        border-radius: 60px;
        font-weight: bold;
        font-size: 1em !important;
        color: white;		
    }

    

}

.section3{
    padding-top: 3rem;
    background: #f6f6f6;

    h2{
        @include title;
    }
}



