@mixin text-card{
    margin-left: 1.5rem;
    font-size: large;
    line-height: 15px;
}

@mixin button{
    height: 3.5rem;
    border-radius: 50px;
    border: none;
    color: white;
    background: linear-gradient(354deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    font-size: 1.2rem;
    padding-right:1.5rem ;
    padding-left:1.5rem ;
}

@mixin title{
    font-size:28px;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}