footer{
    background: #353535;
    color: white;
    padding-bottom: 1rem;
    margin-top: -1rem;

    h2{
        padding-left: 2.5rem;
        padding-top: 2rem;
        font-family: Shrikhand;
        font-size: 20px;
    }

    ul{
        list-style-type: none;
        line-height: 1.7rem; 
        font-size:18px;
    }

    .fas{
        width: 20px;

    }

    .fa-hands-helping{
        font-size: 13px;
    }

    li a{
        text-decoration: none;
        color:white;
        cursor: pointer;
    }


}