.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 12rem;

}

.fa-arrow-left{
    font-size: x-large;
    position: relative;
    left: -80px;
    top: -5px;
    color: black;
}

.bg-img-menu1{
    background-image: url(../../maquettes_ohmyfood/images/restaurants/lapalettedugout.jpg);
    height: 300px;
    background-size: cover;
}

.bg-img-menu2{
    background-image: url(../../maquettes_ohmyfood/images/restaurants/lanoteenchantée.jpg);
    height: 300px;
    background-size: cover;
}

.bg-img-menu3{
    background-image: url(../../maquettes_ohmyfood/images/restaurants/alafrancaise.jpg);
    height: 300px;
    background-size: cover;
}

.bg-img-menu4{
    background-image: url(../../maquettes_ohmyfood/images/restaurants/ledélicedesens.jpg);
    height: 300px;
    background-size: cover;
}