.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Shrikhand;
    font-size: xx-large;
}


.fa-arrow-left{
    font-size: x-large;
    position: relative;
    left: -80px;
    top: -5px;
    color: black;
    padding-top: 20px;
}

.bg-img-menu1{
    background-image: url(maquettes_ohmyfood/images/restaurants/lapalettedugout.jpg);
    height: 300px;
    background-size: cover;
}

.bg-img-menu2{
    background-image: url(maquettes_ohmyfood/images/restaurants/lanoteenchantee.jpg);
    height: 300px;
    background-size: cover;
}

.bg-img-menu3{
    background-image: url(maquettes_ohmyfood/images/restaurants/alafrancaise.jpg);
    height: 300px;
    background-size: cover;
}

.bg-img-menu4{
    background-image: url(maquettes_ohmyfood/images/restaurants/ledelicedesens.jpg);
    height: 300px;
    background-size: cover;
}

@media all and (min-width:600px) and (max-width:1024px){
    .header-logo{
        font-size: 70px;
        p{
            margin: 10px;
        }
    }

}

@media all and (min-width:1025px){
    .header-logo{
        font-size: 80px;
        p{
            margin: 10px;
        }
        .fa-arrow-left{
            font-size: 50px !important;
            padding-top: 20px;
        }
    }
}