.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo:after{
    box-shadow: 0px 10px 10px -10px #666 inset;
} 
/*l'ombre ne fonctionne pas*/

.logo{
    width: 12rem;

}